<div class="row">
<%= simple_form_for :search,  url: trunk_lines_path , :method => :get do |f| %>
    <%= f.input :address, placeholder: '地址' ,:autofocus => true %>
    <%= f.submit "Search" %>
<% end %>
</div>
<script type="text/javascript">
  $(document).ready(function(){
	  handler = Gmaps.build('Google');
	  handler.buildMap({
	          provider: {
	              disableDefaultUI: true,
	              zoom: 15,
	              center: { lat: <%= @hash[0][:lat] %>, lng: <%= @hash[0][:lng] %> }
	          },
	          internal: {
	              id: 'map'
	          }
	      },
	      function() {
	          markers = handler.addMarkers(<%= raw @hash.to_json %>);
	          handler.bounds.extendWith(markers);
	          // handler.fitMapToBounds();
	      });
	  });
</script>
