<div class="row">
  <%= simple_form_for :search ,url: trunk_lines_path , :method => :get do |f| %>
    <div class="col-md-10">
      <%= f.input :address, label: false, placeholder: '地址' ,:autofocus => true %>
    </div>
    <div class="col-md-2">
      <%= f.submit "搜尋", class: "btn btn-primary" ,data:{disable_with: "搜尋中"}, name:nil %>
    </div>
  <% end %>
</div>
<script type="text/javascript">
  $(document).ready(function(){
  	  handler = Gmaps.build('Google');
  	  handler.buildMap({
  	          provider: {
  	              disableDefaultUI: true,
  	              zoom: 15,
  	              center: { lat: <%= @hash[0][:lat] %>, lng: <%= @hash[0][:lng] %> }
  	          },
  	          internal: {
  	              id: 'map'
  	          }
  	      },
  	      function() {
  	          markers = handler.addMarkers(<%= raw @hash.to_json %>);
  	          handler.bounds.extendWith(markers);
  	          // handler.fitMapToBounds();
  	      });
  	  });
</script>
